.bottom-nav {
    outline: 0.5px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 60px;
}
