.post-feed {
   .a {
      text-decoration: none;
   }
   width: 100%;
   height: max-content;
   display: flex;
   flex-direction: column;
   gap: 20px;
   background-color: white;
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.247);
   padding: 20px;
   border-radius: 8px;

   img {
      width: 100%;
      height: auto;
   }

   main {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h3 {
         color: grey;
      }
   }

   footer {
      display: flex;
      justify-content: space-between;
   }
}
