@import "../App.scss";

.splash-animation {
   width: inherit;
   height: inherit;
   z-index: 1000;
   background-color: rgb(20, 20, 20);
   position: absolute;
   display: grid;
   place-content: center;

   h2 {
      font-weight: 600;
      font-size: 1.7em;
      color: $primary-color;
      margin-bottom: 20px;
      text-align: center;
   }

   .submit {
      margin-top: 20px;
   }

   .background-image {
      z-index: -100;
      filter: contrast(0.98);
      width: inherit;
      height: inherit;
      object-fit: cover;
   }

   .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: brightness(4);
      animation: ease-out;
      animation-name: fadeInOut;
      animation-duration: 8s;
      animation-fill-mode: forwards;
   }

   form {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: inherit;
      padding-inline: 40px;

      animation: ease-out;
      animation-name: fadeIn;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;

      input[type="text"],
      input[type="password"],
      textarea {
         width: 100%;
         border: none;
         border-radius: 8px;
         padding: 10px 20px;
         font-family: inherit;
         resize: none;
         font-size: 1.2em;
      }

      button {
         width: 100%;
         border: none;
         border-radius: 8px;
         padding: 10px 20px;
         font-size: 1.2em;
         cursor: pointer;
         transition: all 0.2s ease-out;

         &:hover {
            scale: 1.05;
         }

         &.primary {
            background-color: $primary-color;
            color: white;
         }

         &.secondary {
            background-color: $secondary-color;
            color: white;
         }
      }
   }

   @keyframes fadeInOut {
      0% {
         translate: 0 20px;
         opacity: 0;
      }
      20% {
         translate: 0 20px;
         opacity: 0;
      }
      30% {
         translate: 0 0;
         opacity: 1;
      }
      80% {
         opacity: 1;
      }
      90% {
         opacity: 0;
      }
      100% {
         opacity: 0;
      }
   }
   @keyframes fadeIn {
      0% {
         translate: 0 20px;
         opacity: 0;
      }
      100% {
         translate: 0 0;
         opacity: 1;
      }
   }
}
